target/**
pepshell-program/src/test/java/
pepshell-program/target/**
pepshell-wrapper/target/**
pepshell-api/target/**
pepshell-model/target/**
.*iml
/.idea/workspace.xml
nbactions.xml
pepshell.iml
.idea/
pepshell-api/nb-configuration.xml
*.iml
*.jar
pepshell-mslims-connector/target/**
pepshell-api/src/main/resources/CPDT.exe
pepshell-api/src/main/resources/pepshelltestdbs.zip
pepshell-api/src/main/resources/vcredist_x86.exe
pepshell-startup-wrapper/target/**
pepshell-view/target/
*.class
